* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* HEADER */
#container{
    height: 100px;
}
#menu {
    margin-top: 100px;
}
a.navbar-brand {
    font-size: 2em;
    color: #ffffff !important;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px;
    margin: 5px 100px 5px 5px;
}
#login1{
    font-size:12px;
    color: #ffffff;
    margin: 3px 10px 3px 10px;
}
#menu2 {
    margin-top: 85px;
}
#menu1{
    margin-top: -60px;
}
#search{
    margin: 3px 5px 5px 5px;
}
.content {
    margin-top: 30px;
    margin-bottom: 75px;
    margin-left: 170px; /* Отступ слева */
    padding: 10px; /* Отступы внутри правого блока */
    background: #fff; /* Цвет фона правого блока */
}


/*My Account*/
#createAccount{
    font-size: 20px;
    font-weight: bold;
}
.form-horizontal{
    width: 700px;
    margin: 10px auto;
    position: absolute;
}
#button{
    position: relative;
    padding-left: 550px;
    padding-top: 20px;
}
/*View idea*/
.idea{
    border: 1px solid rgba(108, 4, 158, 0.24);
    border-radius: 10px;
    width: 700px;
    padding: 5px;
    margin: 20px;
}
.row1{
    height:30px;

}
#textOfIdea{
    height:100px;
    border-bottom: 1px solid rgba(108, 4, 158, 0.24);
    border-top: 1px solid rgba(108, 4, 158, 0.24);
    word-wrap: break-word;

}
#textOfIdeaShow{
    border-bottom: 1px solid rgba(108, 4, 158, 0.24);
    border-top: 1px solid rgba(108, 4, 158, 0.24);
    height: auto;
    text-align: justify;
    padding-bottom: 10px;
    padding-top: 10px;
}
#tags{
    font-style: italic;
    color: #390457;
}
#title{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #390457;
}
#username, #date, #checkID{
    color: #696969;
    font-size: 12px;
}
#date{
    text-align: right;
}
#view{
    text-decoration: underline;
}
/*Show idea*/
.showIdea{
    width: 700px;
    margin-bottom: 50px;
}
#nameCategory, #nameTags{
    color: #696969;
    font-size: 12px;
    font-style: normal;
}
#mediaItems{
    border-top: 1px solid rgba(108, 4, 158, 0.24);
    padding: 10px;
    text-align: center;
}
#titleComments{
    font-weight: bold;
    border-bottom: 1px solid rgba(108, 4, 158, 0.24);
    border-top: 1px solid rgba(108, 4, 158, 0.24);
}
#tableAddIdea{
    margin: auto;
}
/* Footer */
#foo {
    height: 60px;
    font-size: 10px;
}
#contacts, #copyright, .row{

}
#copyright {
    margin-top: 3px;
}

/* End Footer */

