* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.spring {
    background-color: rgba(147, 12, 225, 0.23);
}
.container {
    background-color: white;
    padding-left: 0 !important;
}
/* HEADER */
.logo{
    height: 200px;
    width: 150px;
    margin-left: 0;
}
#menu {
  margin-top: 10px;
}
#login1{
    font-size:12px;
    margin: auto;
}
#login, #password{
    margin-right: 5px;
    height: 25px;
}
#submitBtn{
    height: 25px;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}
#search{
    margin: 3px 5px 5px 5px;
}
#carousel-example-generic{
    height: 200px;
}
.content {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*My Account*/
#createAccount{
    font-size: 20px;
    font-weight: bold;
}
.form-horizontal{
    width: 700px;
    margin: 10px auto;
    position: absolute;
}
#button{
    position: relative;
    padding-left: 550px;
    padding-top: 20px;
}
/*View idea*/
.idea{
    border: 1px solid rgba(108, 4, 158, 0.24);
    border-radius: 10px;
    margin: auto auto 20px auto ;
    width: 60%;
    padding: 20px;
}
.row1{
    height:30px;

}
#textOfIdea{
    height:100px;
    border-bottom: 1px solid rgba(108, 4, 158, 0.24);
    border-top: 1px solid rgba(108, 4, 158, 0.24);
    text-align: justify;
    word-wrap: break-word;

}
#textOfIdeaShow{
    border-bottom: 1px solid rgba(108, 4, 158, 0.24);
    height: auto;
    text-align: justify;
    padding-bottom: 10px;
}
#tags{
    font-style: italic;
    color: #390457;
    padding-bottom: 10px;
}
#title{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #390457;
}
#username, #date, #checkID{
    color: #696969;
    font-size: 12px;
}
#date{
    text-align: right;
}
#view{
    text-decoration: underline;
}
/*Show idea*/
.showIdea{
    margin: auto;
    width: 60%;
    padding-bottom: 80px;
}
#nameCategory, #nameTags{
    color: #696969;
    font-size: 12px;
    font-style: normal;
}
.contentOfIdea{
    border-top: 1px solid rgba(108, 4, 158, 0.24);
    padding-top: 10px;
}
#mediaItems{
    text-align: center;
}

#titleComments{
    font-weight: bold;
    border-bottom: 1px solid rgba(108, 4, 158, 0.24);
    border-top: 1px solid rgba(108, 4, 158, 0.24);
}
#tableAddIdea{
    margin: auto;
}
/* Footer */
#foo {
    height: 60px;
    font-size: 10px;
    background-color: white;
}
#contacts, #copyright, .row{

}
#copyright {
    margin-top: 3px;
}

/* End Footer */

