* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*html{*/
    /*height: 100%;*/

/*}*/

.spring {
    /*background-color: rgba(147, 12, 225, 0.23);*/
    height: 100%;
    position: relative;

}
.container_main {
    background-color: white;
    padding: 0;
    width: 100%;
    /*height: 100%;*/
    /*position: relative;*/

}
/* HEADER */
.logo{
    height: 200px;
    width: 150px;
    margin-left: 0;
}
#menu {
  margin-top: 10px;
}
#login1{
    font-size:12px;
    margin: auto;
}
#login, #password{
    margin-right: 5px;
    height: 25px;
}
#submitBtn{
    height: 25px;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}
#search{
    margin: 3px 5px 5px 5px;
}
#carousel-example-generic{
    height: 200px;
}
.content {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*My Account*/
#createAccount{
    font-size: 20px;
    font-weight: bold;
}
.form-horizontal{
    width: 700px;
    margin: 10px auto;
    position: absolute;
}
#button{
    position: relative;
    padding-left: 550px;
    padding-top: 20px;
}
/*View idea*/


.idea{
    border: 1px solid rgba(108, 4, 158, 0.24);
    border-radius: 10px;
    margin: auto auto 20px auto ;
    width: 100%;
    text-align: center;
    padding: 20px;
}
.info{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info li{
    padding: 0 1.5em;
    border-right: 1px solid grey;
    list-style: none;
}
.row1{
    height:30px;

}
#textOfIdea{
    height:100px;
    border-bottom: 1px solid rgba(108, 4, 158, 0.24);
    border-top: 1px solid rgba(108, 4, 158, 0.24);
    text-align: justify;
    word-wrap: break-word;
    overflow: hidden;

}
#textOfIdeaShow{
    /*border-bottom: 1px solid rgba(108, 4, 158, 0.24);*/
    height: auto;
    text-align: justify;
    padding: 1.5em;
    width: 100%;
}
#tags{
    font-style: italic;
    color: #390457;
    /*padding-bottom: 10px;*/
}
#title{
    font-size: 2em;
    font-weight: bold;
    /*text-decoration: underline;*/
    color: #390457;
}
#username, #date, #checkID{
    color: #696969;
    font-size: 12px;
}
#date{
    text-align: right;
}
#view{
    text-decoration: underline;
}
/*Show idea*/
.showIdea{
    margin: auto;
    width: 100%;
    text-align: center;
    /*padding-bottom: 80px;*/
}
#nameCategory, #nameTags{
    color: #696969;
    font-size: 12px;
    font-style: normal;
}
.contentOfIdea{
    /*border-top: 1px solid rgba(108, 4, 158, 0.24);*/
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
/*#mediaItems{*/
    /*text-align: center;*/
    /*width: 50%;*/
/*}*/

#imgItems{
    width: 50%;
}
#videoItems{
    width: 50%;
}

#titleComments{
    font-weight: bold;
    border-bottom: 1px solid rgba(108, 4, 158, 0.24);
    border-top: 1px solid rgba(108, 4, 158, 0.24);
}
#tableAddIdea{
    margin: auto;
}
.content{
    margin-bottom: 70px;
}
/* Footer */
div.footer{
    text-align: center;
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*bottom: 0;*/


}
#foo {
    height: 60px;
    font-size: 10px;
    background-color: white;
}
#contacts, #copyright, .row{

}
#copyright {
    margin-top: 3px;
}

/* End Footer */

/*login-form*/
.loginform{
    padding: 5px 5px;
    color: black;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-right: 5px;
}
.loginbutton{
    padding: 5px 10px;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(top, #f2f2f2 0%,#e9e9e9 32%,#d8d8d8 74%,#d1d1d1 100%);
    background-image: linear-gradient(top, #f2f2f2 0%,#e9e9e9 32%,#d8d8d8 74%,#d1d1d1 100%);
}

.loginbutton:hover{
    background-image: -webkit-linear-gradient(bottom, #f2f2f2 0%,#e9e9e9 32%,#d8d8d8 74%,#d1d1d1 100%);
    background-image: linear-gradient(bottom, #f2f2f2 0%,#e9e9e9 32%,#d8d8d8 74%,#d1d1d1 100%);
}

.registration{
    padding: 10px 0;
    font-size: 1.5rem;

}
.registration a{
    transition: color 1s ease;
}
.registration a:hover{
    text-decoration: none;
    color: white;
}

/*comments*/
.reply_to{
    color: blue;
    /*border-bottom: 1px dotted dimgrey;*/
}

.reply_to:hover{
    cursor: pointer;
    color: red;
}
#comments{
    width: 60%;
    margin:0 auto;
}
.comment{
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 0.5em ;
    margin-bottom: 1em;
}

.comment-user_name{
    font-weight: 700;
}

